{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }]
  ],
  "env": {
    "browser": {
    },
    "production": {
      "plugins": []
    }
  }
}
