.ui.inverted.vertical.masthead.segment {
  background-color: #072B3F;
  background: linear-gradient(#071B26, #072B3F, #072B3F);
  padding: 3rem 0;
  border-bottom: 6px solid #38799C;

  h1, h2, h3 {
    font-weight: lighter;
    color: white;
  }

  h1 {
    font-size: 40px;
    a {
      color: white;
    }
  }
  p {
    font-weight: lighter;
  }
}
